<p>
  <a href="https://github.com/Sal-ah-cmd" target="_blank">GitHub</a> ✦ 
  <a href="https://Sal-ah-cmd.github.io" target="_blank">GitHub.io</a> ✦ 
  <a href="https://Sal-ah-cmd.github.io/web250" target="_blank">WEB250</a> ✦
  <a href="https://www.freecodecamp.org/Sal12345" target="_blank">freeCodeCamp</a> ✦
  <a href="https://www.codecademy.com/profiles/Sal124124123" target="_blank">Codecademy</a> ✦
  <a href="https://jsfiddle.net/u/Salah12345" target="_blank">JSFiddle</a>
</p>
<p>
  <a id="html-validator" href="#" target="_blank">HTML Validator</a> ✦
  <a id="css-validator" href="#" target="_blank">CSS Validator</a>
</p>
<p>Page built by Sal's Sneaky Snake.</p>